#header{
	height:200px;
	border-radius: 4px;
	background-color: blue;
	border: 1px solid black;
    margin-left: 50px;
    margin-right: 50px;
}

#left{
	/*border: 1px solid black;*/
}

#right{
	border: 1px solid black;
	background-color: blue;
    width: 21%;
}
#right h2{
	color: white;
}
#right ol li{
	color: white;
}

.navbar{margin-left: 65px;}
.table{width: 100%;max-width: 95%; margin-bottom: 20px;   margin-left: 30px;}
.finish{margin-top: 10px;}